
@using PagedList.Mvc
@using Saned.Jazan.ControlPanel.Extensions
@model List<Saned.Common.Comments.ComplexType.CommentComplex>   



@if (Model.Count > 0)
{
    <label class="col-xs-12">عدد التعليقات :  @Model[0].OverallCount </label>

    


    foreach (var comment in Model)
    {

        <div class="row">
           
            <div class="col-sm-1">
                <div class="thumbnail">
                    @if (!string.IsNullOrEmpty(comment.PhotoUrl))
                    {
                        <a href="@(ViewBag.FrontEndUrl + "" + comment.PhotoUrl)" rel="prettyPhoto[pp_gal]" class="img-circle" width="100" height="100">
                            <img src="@(ViewBag.FrontEndUrl + "" + comment.PhotoUrl)" onerror="this.onerror = null;this.src = '/Content/dist/img/noimagedefault.jpg'" class="img-responsive user-photo"/>

                        </a>
                    }
                    else
                    {
                        <a href="/Content/dist/img/noimagedefault.jpg">
                            <img src="/Content/dist/img/noimagedefault.jpg" class="img-responsive user-photo"/>
                        </a>
                    }

                </div><!-- /thumbnail -->
            </div><!-- /col-sm-1 -->
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>@comment.FullName</strong> <span class="text-muted">@comment.CreatedDate</span>
                    </div>
                    <div class="panel-body">
                        @comment.CommentText
                    </div><!-- /panel-body -->
                </div><!-- /panel panel-default -->
            </div><!-- /col-sm-5 -->

           


        </div><!-- /row -->
    }



                }








<script>
    function onsuccessDeletion(data) {

        NotificationService.displaySuccess("تم الحذف بنجاح");
    }
    function onFailureDeletion(data) {

        NotificationService.displayError("حدث خطأ أثناء الحذف .");
    }
    function onsuccessApprove(btn, data) {
        if (data.message === "Approved") {
            btn.html("<i title='الغاء الموافقة' class='glyphicon glyphicon-remove'></i>");
            var fail = btn.attr('data-ajax-failure').replace('Approve', 'UnApprove');
            var success = btn.attr('data-ajax-success').replace('Approve', 'UnApprove');
            btn.attr('data-ajax-failure', fail);
            btn.attr('data-ajax-success', success);

            var path = btn.attr('href').replace('Approve', 'UnApprove');
            btn.attr('href', path);


            btn.removeClass('btn-success');
            btn.addClass('btn-danger');
            NotificationService.displaySuccess("تم الموافقة بنجاح");
        }
        else if (data.message === "NotFound"){
            NotificationService.displayError("هذا الأعلان غير موجود .");
          }
          else
               NotificationService.displayError("حدث خطأ أثناء الموافقة .");


    }
    function onFailureApprove() {
        NotificationService.displayError("حدث خطأ أثناء الموافقة .");

    }
    function onsuccessUnApprove(btn, data) {
        if (data.message === "UnApproved") {
            btn.html("<i title='الموافقة' class='glyphicon glyphicon-ok'></i>");
            var path = btn.attr('href').replace('UnApprove', 'Approve');
            btn.attr('href', path);
            var fail = btn.attr('data-ajax-failure').replace('UnApprove', 'Approve');
            var success = btn.attr('data-ajax-success').replace('UnApprove', 'Approve');
            btn.attr('data-ajax-failure', fail);
            btn.attr('data-ajax-success', success);

            btn.removeClass('btn-danger');
            btn.addClass('btn-success');
            NotificationService.displaySuccess("تم الغاء الموافقة بنجاح");
        }
        else if (data.message === "NotFound")
            NotificationService.displayError("هذا الأعلان غير موجود .");
        else
            NotificationService.displayError("حدث خطأ أثناء الغاء الموافقة .");
    }
    function onFailureUnApprove(btn) {
        NotificationService.displayError("حدث خطأ أثناء الغاء الموافقة .");

    }


</script>




