@model Saned.Jazan.Data.Core.Models.Advertisement

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    @*@Html.Partial("_Flash")*@


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>

            <small> تفاصيل الاعلان</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a onclick="showPageLoadingSpinner()"
                   href="@Url.Action("Index", "Home")">
                    <i class="fa fa-dashboard"></i>الرئيسية
                </a>
            </li>
            <li>
                <a onclick="showPageLoadingSpinner()"
                   href="@Url.Action("Index", "Advertisement")">
                    <i class="fa fa-buysellads"></i>الأعلانات
                </a>
            </li>
            <li class="active">تفاصيل الاعلان</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-success">
                <div class="row">
                    <div class="box-header">
                        <div class="col-md-6 col-xs-12">
                            <h3 class="box-title">
                                عرض تفاصيل الاعلان
                            </h3>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <h3 class="box-title pull-right">

                            </h3>
                        </div>
                    </div>
                </div>
                    
                    <div>
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#details">بيانات الاعلان</a></li>

                            <li><a data-toggle="tab" href="#Images">صور الاعلان</a></li>
                            <li><a data-toggle="tab" href="#Comments">التعليقات</a></li>

                        </ul>

                        <div class="tab-content">
                            <div id="details" class="tab-pane fade in active">
                                <div id="Ads-Details">
                                    <div class="box box-solid">
                                        <div class="box-header with-border">

                                            <div class="col-xs-12">
                                                <div class="box-body">

                                                    <dl class="dl-horizontal">
                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.Name)
                                                        </dt>

                                                        <dd>
                                                            @Html.DisplayFor(model => model.Name)
                                                        </dd>

                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.CityName)
                                                        </dt>

                                                        <dd>
                                                            @Html.DisplayFor(model => model.CityName)
                                                        </dd>

                                                        <dt>
                                                            تصنيف الأعلان
                                                        </dt>

                                                        <dd>
                                                            @Model.Category.CategoryNameAr
                                                        </dd>

                                                        <dt>
                                                            باقة الأعلان
                                                        </dt>

                                                        <dd>
                                                            @Model.Package.ArabicName
                                                        </dd>

                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.Description)
                                                        </dt>

                                                        <dd>
                                                            @Html.DisplayFor(model => model.Description)
                                                        </dd>


                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.Latitude)
                                                        </dt>

                                                        <dd>
                                                            @Html.DisplayFor(model => model.Latitude)
                                                        </dd>

                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.Longitude)
                                                        </dt>

                                                        <dd>
                                                            @Html.DisplayFor(model => model.Longitude)
                                                        </dd>

                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.WorkingHours)
                                                        </dt>

                                                        <dd>
                                                            @(!string.IsNullOrEmpty(Model.WorkingHours) ? Model.WorkingHours : "غير محدد")


                                                        </dd>

                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.Mobile)
                                                        </dt>

                                                        <dd>

                                                            @(!string.IsNullOrEmpty(Model.Mobile) ? Model.Mobile : "غير محدد")


                                                        </dd>

                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.Email)
                                                        </dt>

                                                        <dd>
                                                            @(!string.IsNullOrEmpty(Model.Email) ? Model.Email : "غير محدد")




                                                        </dd>

                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.WebSite)
                                                        </dt>

                                                        <dd>
                                                            @(!string.IsNullOrEmpty(Model.WebSite) ? Model.WebSite : "غير محدد")




                                                        </dd>

                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.Twitter)
                                                        </dt>

                                                        <dd>

                                                            @(!string.IsNullOrEmpty(Model.Twitter) ? Model.Twitter : "غير محدد")


                                                        </dd>

                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.FaceBook)
                                                        </dt>

                                                        <dd>
                                                            @(!string.IsNullOrEmpty(Model.FaceBook) ? Model.FaceBook : "غير محدد")




                                                        </dd>

                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.Instagram)
                                                        </dt>

                                                        <dd>
                                                            @(!string.IsNullOrEmpty(Model.Instagram) ? Model.Instagram : "غير محدد")


                                                        </dd>

                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.Snapchat)
                                                        </dt>

                                                        <dd>
                                                            @(!string.IsNullOrEmpty(Model.Snapchat) ? Model.Snapchat : "غير محدد")


                                                        </dd>

                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.IsApproved)
                                                        </dt>

                                                        <dd>
                                                            @Html.DisplayFor(model => model.IsApproved)
                                                        </dd>

                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.IsActive)
                                                        </dt>

                                                        <dd>
                                                            @Html.DisplayFor(model => model.IsActive)
                                                        </dd>

                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.CreatedOn)
                                                        </dt>

                                                        <dd>
                                                            @Html.DisplayFor(model => model.CreatedOn)
                                                        </dd>

                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.CreatedBy)
                                                        </dt>

                                                        <dd>
                                                            @Model.CreatedByUser.Name


                                                        </dd>



                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.StartDate)
                                                        </dt>

                                                        <dd>
                                                            @Html.DisplayFor(model => model.StartDate)
                                                        </dd>

                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.EndDate)
                                                        </dt>

                                                        <dd>
                                                            @Html.DisplayFor(model => model.EndDate)
                                                        </dd>

                                                    </dl>

                                                </div>
                                            </div>
                                            
                                            <!-- /.box-body -->
                                        </div>
                                    </div><!-- /.box-header -->




                                </div>
                            </div>
                            <div id="Images" class="tab-pane fade">
                                <div class="box box-solid">
                                    <div class="box-header with-border">
                                        <div class="col-xs-12">
                                            @if (!string.IsNullOrEmpty(Model.ImageUrl))
                                            {
                                                <a href="@(ViewBag.FrontEndUrl + "" + Model.ImageUrl)" rel="prettyPhoto[pp_gal]" class="img-thumbnail">
                                                    <img src="@(ViewBag.FrontEndUrl + "" + Model.ImageUrl)" onerror="this.onerror = null;this.src = '/Content/dist/img/noimagedefault.jpg'" class="img-thumbnail" />

                                                </a>
                                            }
                                            @foreach (var image in Model.AdvertisementImages)
                                            {
                                                <a href="@(ViewBag.FrontEndUrl + "" + image.ImageUrl)" rel="prettyPhoto[pp_gal]" class="img-thumbnail">
                                                    <img src="@(ViewBag.FrontEndUrl + "" + image.ImageUrl)" onerror="this.onerror = null;this.src = '/Content/dist/img/noimagedefault.jpg'" class="img-thumbnail" />

                                                </a>
                                            }


                                        </div>
                                    </div>
                                </div>
                                    </div>
                                    <div id="Comments" class="tab-pane fade">
                                        <div id="Ads-Comments" class="box-header with-border">
                                            @Html.Action("_Comments", new { RelatedId = Model.Id, PageIndex = 1 })


                                        </div>
                                    </div>
                                </div>
                            </div>

                <!-- /.box-header -->
                    <div>
                        
                    

                    </div>




                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->


</div>






































