@using PagedList.Mvc
@model PagedList.IPagedList<Saned.Jazan.Data.Core.Models.Category>
@{
    var counter = 1;
    ViewBag.Title = "التصنيفات الفرعية";
    var photo = new Saned.Jazan.Data.Core.Models.NewsImage();
}
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>

            <small>التصنيفات الفرعية</small>
        </h1>
        <ol class="breadcrumb">
            <li><a onclick="showPageLoadingSpinner()" href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>الرئيسية</a></li>
            <li class="active"> <i class="glyphicon glyphicon-tags"></i> التصنيفات الفرعية</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-success">
                    <div class="row">
                        <div class="box-header">
                            <div class="col-md-6 col-xs-12">
                                <h3 class="box-title">
                                    عرض بيانات التصنيفات الفرعية
                                </h3>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <h3 class="box-title pull-right">
                                    <a onclick="showPageLoadingSpinner()" href="@Url.Action("AddSubCategory", "Category")" type="button" class="btn btn-success">إضافة</a>

                                </h3>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    @*<th>المسلسل</th>*@
                                    <th>اسم التصنيف</th>
                                    <th>صورة التصنيف</th>
                                    <th>الإعدادات</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var bo in Model)
                                {
                                    <tr>
                                     
                                        <td>@bo.CategoryNameAr</td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(@bo.CategoryImage))
                                            {
                                                <a href="@bo.CategoryImage" rel="prettyPhoto[pp_gal]">
                                                    <img src="@bo.CategoryImage.Replace("uploads", "uploads/Thumbnails")" onerror="this.onerror = null; this.src = '/Content/dist/img/noimagedefault.jpg'" width="100" />

                                                </a>
                                            }
                                            else
                                            {
                                                <a href="@bo.CategoryImage">
                                                    <img src="/Content/dist/img/noimagedefault.jpg" width="100" />
                                                </a>
                                            }
                                        </td>
                                     

                                        <td>
                                            <a onclick="showPageLoadingSpinner()" title="تعديل" href="@(Url.Action("EditSubCategory", "Category", new {id = bo.CategoryId}))" class="btn btn-success"><i title="تعديل" class="fa fa-edit"></i></a>
                                            <button title="حذف" class="btn btn-danger js-delete-product" data-product-id="@bo.CategoryId" data-toggle="modal" data-target="#Delete"><i title="حذف" class="fa fa-trash"></i></button>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        @Html.PagedListPager(Model, page => Url.Action("ViewSubCategory", new { page }))

                    </div>

                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
@section scripts{
    <script>
        $(document).ready(function () {


            $(".js-delete-product").click(function (e) {
                var button = $(this); //$(e.target);
                var selectedId = button.attr("data-product-id");
                $(".js-delete-yes").click(function () {
                    $.ajax({
                        url: '/Category/DeleteCategory',
                        type: "POST",
                        data: { id: selectedId },
                        success: function (data) {
                            if (data.message === "Deleted") {
                                button.parents("tr").fadeOut(function () {
                                    $(this).remove();
                                    $("a[rel='prettyPhoto[pp_gal]']").prettyPhoto({
                                        show_title: false,
                                        social_tools: false,
                                        deeplinking: false,
                                    });
                                });
                                $("#Delete").modal('toggle');
                                //toastr["success"]("ااا")
                                NotificationService.displaySuccess("تم الحذف بنجاح");
                            } else {
                                $("#Delete").modal('toggle');
                                NotificationService.displayError("هذا التصنيف لا يمكن حذفه لانه مرتبط بعناصر اخري داخل النظام");
                            }
                        }
                    });
                });

            });

        });
    </script>
}
