@model Saned.Jazan.ControlPanel.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "تغير كلمة السر";
}



@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @*@Html.AntiForgeryToken()*@
    <div class="content-wrapper">
        @Html.Partial("_Flash")
        <section class="content-header">
            <h1>
                تغير كلمة السر
                <small> الحقول المعلمة بالنجمة ( * ) هي حقول إلزامية</small>
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">تغيير كلمة المرور</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <form role="form">

                                @*@Html.ValidationSummary("", new {@class = "text-danger"})*@
                                <div class="col-xs-12">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.OldPassword)
                                            <span class="required">*</span>

                                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.OldPassword, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.NewPassword)
                                            <span class="required">*</span>

                                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.NewPassword, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.ConfirmPassword)
                                            <span class="required">*</span>

                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.NewPassword, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-xs-12">
                                    <div class="pull-right">
                                        <input type="submit" value="تغير كلمة السر" class="btn btn-success sweet"/>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
